{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
<!--Add link to 'register/' url with text "Don't have an account? You may register here"-->
<p>Don't have an account? You may register <a href="{% url 'register' %}">here</a></p>
<!--display a notification. Must be logged in to book-->
{% if notification %}
  <p>{{ notification }}</p>
{% endif %}



{% endblock %}